.wrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
    text-align: center;
    flex-direction: column;
}
.accordion{
    background-color: rgb(229, 236, 189);
    width: 20vw;
    cursor: pointer;
    margin-top: 12px;
    color: #000000;
}
.answer{
    background-color: wheat
}
/* .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.active{
    fill: yellow;
    width: 4vh;
}

.inactive{
    width: 9vh;
}

.stars{
    height: 12vh;
    size: 12vw;
    margin-right: 12px;
}